
<div id="container">
  <div id="bgcolor">
    <div class="textleft"> 
      <h2 class="red">Manjula's Kitchen</h2>
      <p> Manjula is here to teach you simple and practical recipes that carry out the authenticity of Indian vegetarian cooking.
       For new cooks and cooks new to Indian vegetarian cooking, the combination of video tutorials and written recipes will make it easier for you to understand the fundamentals
      in cooking Indian dishes. And even experienced chefs will pick up new techniques that will make cooking easier and more flavorful. Indian cooking is not complicated and I
      will show you creative variations that you can experiment with. Half the fun of cooking is experimenting, so give it a try and make these vegetarian dishes uniquely your own!
      </p>
      <br>
      <br>
      <h2 class="red"> Manjula Jain</h2>
      <p> Manjula Jain was born in North India into a vegetarian family. Her mother was an excellent cook who paid attention to every detail. One of the most important details for
      her was cooking with fresh ingredients. As a child and young adult, she helped her mother in the kitchen. Manjula learned to cook with just a few spices and herbs in order
      to compromise the taste of the vegetables, grains and lentils.
      After Manjula Jain got married and moved to the United States from India in the late 1960s, her family remained vegetarian because of their adherence to the Jain religion.
      One of the main principles of the Jain religion is the belief in non-violence to all living beings and the belief to “live and let live”. Manjula Jain is passionate about this way of life today.</p>    
    </div>
    <div id="manjula">
      <img src="../../assets/manjula.jpg" alt="manjula Jain" width="300px" height="auto">
    </div>

</div>

</div>
    
