p, li{
  color: #ffffff;
}
#container{
  width: 70%;
  margin: auto;
padding-top: 10px;



}
#bgcolor
{
  background-color: rgba(255, 255, 255, 0.3) ;
}

#manjula img{
  position: absolute;
  top: 25%;
  left: 70%;
  right: 5%;
  padding: 3px;
  border: 1px solid #fff ;
}
h2.red{
  color: #E50914;
}
.textleft{
  position: absolute;
  margin-right: 30%;
  padding: 5px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}