
<div>


    <nav>     
    <ul>
        <img src="../../assets/logo.png" height="44PX"/>
      <li class="activate1">   <a routerLink="">HOME</a></li> 
      <li class="activate2">   <a routerLink ="home">RECIPE</a> </li>
      <li> <a routerLink = "create">ADD YOUR OWN</a> </li> 
      <li> <a routerLink = "update">CHANGE DATA</a> </li>  
      <li>  <a routerLink = "delete">REMOVE RECIPE</a> </li> 
      <li> <a routerLink="about">ABOUT</a> </li> 

    </ul>

</nav>
</div>

<router-outlet></router-outlet>
