
<div id="detail">
    <app-header [content]="pageContent.header"></app-header> 
    
    <div>  
    <p class="type"> <span id="attributes">  Name of Recipe: </span> {{newFood.name}}</p>
    <p class="type"> <span id="attributes"> Type Of Recipe: </span> {{ newFood.type}}</p>
    <p class="type"> <span id="attributes"> Release Date: </span>{{ newFood.releaseDate }}</p>
    <p class="type"> <span id="attributes"> Ratings: </span> {{ newFood.rating }}</p>
    <p class="type"> <span id="attributes"> Chef Name: </span> {{ newFood.cookName }}</p>
    <p class="type"> <span id="attributes"> Ingredients: </span> {{ newFood.ingredients }}</p>
    <p class="type"> <span id="attributes"> Full Recipe: </span> {{ newFood.description }}</p>
    

</div>



